$blue: #34a0e7;
$skyBlue: #e9f5fd;
$green: #07c160;
$red: #e45353;
$gray: #999;
$orange: #fc8848;

$headerHeight: 60px;
$routesHeight: 30px;
$asideWidth: 120px;

$color-primary: #39c1d5;
$color-bg: #04033d;
$color-1: #071449;
$color-2: #0d295a;
$color-3: #143c6b;
$color-4: #1c5981;
$color-5: #267fa0;
$color-6: #31a5be;
$color-7: #59c1d2;
$color-8: #86dee7;
$color-9: #b7f3f6;
$color-10: #e3fafb;